# raw material stats


|-- athome1mu4x7 (folder)

    |-- 01+January+2003+Pbulic+2.txt (folder)
    
       |-- 0000-1 (file)

`find . type f ! -name "*.*"` → 

`athome1.txt`  290099 (no `.DS_Store`)

~~`athome2.txt`~~ 465147

~~`athome3.txt`~~  902434

`athome4.facetsandqrels` 61985

# data transformation

`.txt` > 
`raw_text_cleaned.pkl`, 
`rel_info.csv`, 
`rel_info.pkl`, 
`sampled-for-bertal.pkl`

# files involved

**on deduplicating the original data**

`athome1.md5` md5 hash codes of the orginal text data

#### deduplication with md5 hash code

In [6]:
import re
import pandas as pd
import numpy as np
from tqdm import tqdm
import pickle
from jeb_bush_processing import athome1_rel_load, get_raw, test

In [152]:
df = pd.read_table("./athome1.md5", sep='\s+',header=None, names=['md5', 'path'])

In [153]:
df

,md5,path
0,6f8991ebdafffa7415b7b3b24fb949b5,./2002-12Dec.txt/0524-129207
1,27850dfbfbb1bde5a3bf565aeb20dc33,./2002-12Dec.txt/0452-129135
2,773a0cc30b4f736af16d7b64c4f1e1fe,./2002-12Dec.txt/0583-129266
3,76ca7b889742f41da584c543d292c90c,./2002-12Dec.txt/0186-128869
4,dd277b8dd158709548995d6b25d71ee7,./2002-12Dec.txt/0412-129095
...,...,...
290094,a928348fcccf144387af03edf2e309c8,./200501-06JanJun-05May.txt/2523-224819
290095,bc4b7e96a9bba0404b4bec0d16dba00e,./200501-06JanJun-05May.txt/1346-223642
290096,867e066acb77c15f7f85f6fc88745eca,./200501-06JanJun-05May.txt/3965-226261
290097,5b950d15830d8e6cd5eb370ad088d2e8,./200501-06JanJun-05May.txt/2286-224582
290098,a0e7ef04b23d3d4314e770ad87a372d2,./200501-06JanJun-05May.txt/0957-223253

In [724]:
df['doc_id'] = df['path'].apply(lambda x: x.split('-')[-1]) # check if rel is for duplicated

In [726]:
df['doc_id'] = df['doc_id'].apply(id_format)

In [730]:
'052266' in list(df['doc_id'])

True

In [731]:
full_docs = list(df['doc_id'])

In [735]:
clean_docs = list(df_clean['doc_id'])

In [738]:
jb_rel_dict['101'][:5]

['144781', '170784', '255768', '283525', '020473']

In [740]:
dul = []
for k in jb_rel_dict.keys():
    for i in jb_rel_dict[k]:
        if i in clean_docs:
            continue
        else:
            dul.append(i)

In [742]:
len(dul) # athome1 has 1310 in duplicated form and missed

1310

In [745]:
for k in tqdm(athome4.keys()):
    for i in athome4[k].keys():
        if i in clean_docs:
            continue
        else:
            dul.append(i)

100%|█████████████████████████████████████████████████████████████████████████| 34/34 [01:29<00:00,  2.62s/it]

In [746]:
len(dul)

4030

In [747]:
len(set(dul)) # total 3408 duplicated being missed

3408

In [ ]:
df[df.duplicated('md5')==True]

,md5,path,doc_id
434,0880ef6d51afd043637062bf331cdb0f,./2002-12Dec.txt/0267-128950,128950
542,db344c7b8fd6e3d00a8d7b57fc96fa96,./2002-12Dec.txt/0848-129531,129531
900,0880ef6d51afd043637062bf331cdb0f,./2002-12Dec.txt/0309-128992,128992
1474,96075ca58e0210ab99463bf660f8e8bf,./2002-05May.txt/1142-119359,119359
2055,a7d390e5530e1845e1a938dc16ec5777,./2002-05May.txt/1055-119272,119272
...,...,...,...
289940,1673209a0b9a9dbf1a49a9424555223c,./200501-06JanJun-05May.txt/2498-224794,224794
289953,b0b743604797ba1db50285ffc5e249c7,./200501-06JanJun-05May.txt/3813-226109,226109
289959,8619b21f2d18d46960a4ba496c908ba6,./200501-06JanJun-05May.txt/3243-225539,225539
289966,89834ca15e5a2d23c6b9adaa8ddaa287,./200501-06JanJun-05May.txt/3713-226009,226009
289983,8c6692d082d02d2a721224f674f60468,./200501-06JanJun-05May.txt/2641-224937,224937

In [753]:
dul_md5 = list(df[df.duplicated('md5')==True]['md5'])

In [758]:
len(set(dul_md5))

10658

In [756]:
# mapping dul to cleaned
dul_map = {}
for md5 in tqdm(dul_md5):
    ids = list(df[df['md5']==md5]['doc_id'])
    keep_first = ids[0]
    dul_map[keep_first] = ids[1:]

100%|██████████████████████████████████████████████████████████████████| 15975/15975 [02:32<00:00, 104.71it/s]

In [760]:
len(dul_map.keys())

10658

In [750]:
df[df['md5']=='0880ef6d51afd043637062bf331cdb0f']

,md5,path,doc_id
71,0880ef6d51afd043637062bf331cdb0f,./2002-12Dec.txt/0962-129645,129645
434,0880ef6d51afd043637062bf331cdb0f,./2002-12Dec.txt/0267-128950,128950
900,0880ef6d51afd043637062bf331cdb0f,./2002-12Dec.txt/0309-128992,128992
147280,0880ef6d51afd043637062bf331cdb0f,./12+December+2002+Public.txt/1016-18219,018219

In [733]:
len(full_docs)

290099

In [137]:
df['path']

0                    ./2002-12Dec.txt/0524-129207
1                    ./2002-12Dec.txt/0452-129135
2                    ./2002-12Dec.txt/0583-129266
3                    ./2002-12Dec.txt/0186-128869
4                    ./2002-12Dec.txt/0412-129095
                           ...
290095    ./200501-06JanJun-05May.txt/2523-224819
290096    ./200501-06JanJun-05May.txt/1346-223642
290097    ./200501-06JanJun-05May.txt/3965-226261
290098    ./200501-06JanJun-05May.txt/2286-224582
290099    ./200501-06JanJun-05May.txt/0957-223253
Name: path, Length: 290100, dtype: object

In [41]:
len(set(df.iloc[:,0]))

274125

In [42]:
uniq = set(df.iloc[:,0])

In [196]:
df[df.duplicated('md5', keep='first')==False]

,md5,path
0,6f8991ebdafffa7415b7b3b24fb949b5,./2002-12Dec.txt/0524-129207
1,27850dfbfbb1bde5a3bf565aeb20dc33,./2002-12Dec.txt/0452-129135
2,773a0cc30b4f736af16d7b64c4f1e1fe,./2002-12Dec.txt/0583-129266
3,76ca7b889742f41da584c543d292c90c,./2002-12Dec.txt/0186-128869
4,dd277b8dd158709548995d6b25d71ee7,./2002-12Dec.txt/0412-129095
...,...,...
290094,a928348fcccf144387af03edf2e309c8,./200501-06JanJun-05May.txt/2523-224819
290095,bc4b7e96a9bba0404b4bec0d16dba00e,./200501-06JanJun-05May.txt/1346-223642
290096,867e066acb77c15f7f85f6fc88745eca,./200501-06JanJun-05May.txt/3965-226261
290097,5b950d15830d8e6cd5eb370ad088d2e8,./200501-06JanJun-05May.txt/2286-224582
290098,a0e7ef04b23d3d4314e770ad87a372d2,./200501-06JanJun-05May.txt/0957-223253

In [199]:
df_clean = df[df.duplicated('md5', keep='first')==False]

In [57]:
df[df['md5']=='0880ef6d51afd043637062bf331cdb0f']

,md5,path
71,0880ef6d51afd043637062bf331cdb0f,./2002-12Dec.txt/0962-129645
434,0880ef6d51afd043637062bf331cdb0f,./2002-12Dec.txt/0267-128950
900,0880ef6d51afd043637062bf331cdb0f,./2002-12Dec.txt/0309-128992
147281,0880ef6d51afd043637062bf331cdb0f,./12+December+2002+Public.txt/1016-18219

In [360]:
with open("./athome1mu4x7/2002-12Dec.txt/0962-129645", 'r', encoding="latin1") as f:
    mail = {'subject':[], 'body':[]}
    lines = f.readlines()
    content = [line.strip()+' ' for line in lines if line!='\n']

In [353]:
list(filter(lambda x:x.find("Re:")>=0, lines))

['Re: Employment\n']

In [362]:
[(i,line.strip()) for (i, line) in enumerate(content) if i < 10 and ":" in line]

[(0, 'From:  Christina Steier'),
 (1, 'Re: Employment'),
 (2, 'Date: November 30, 2002')]

In [571]:
get_raw("./2000-11Nov.txt/0015-64260")

'GOVERNOR BUSH PRESENTS POINTS OF LIGHT AWARD TO ALVIN ROBERTS From:Steele, Leslie leslie.steelemyflorida.com Sent:Thursday, November 30, 2000 2:18 PM Subject:GOVERNOR BUSH PRESENTS POINTS OF LIGHT AWARD TO ALVIN ROBERTSFOR IMMEDIATE RELEASE CONTACT: ELIZABETH HIRSTTHURSDAY, NOVEMBER 30, 2000(850) 4885394GOVERNOR BUSH PRESENTS POINTS OF LIGHT AWARD TO ALVIN ROBERTSPoints of Light Award Recognizes Exemplary Volunteers in FloridasCommunities TALLAHASSEEGovernor Jeb Bush today awarded Alvin Roberts of Miami the Governors Points of Light Award.The award recognizes exemplary volunteer service throughout the state.Roberts, a Vietnam combat veteran with a disability, has been a drivingforce in helping children, veterans and the disabled in his community.Heis a mentor for the 500 Role Models of Excellence Project and BigBrothers/Big Sisters of Greater Miami, president of the Center forIndependent Living of South Florida, and serves in several Veteransorganizations. "Alvins longterm commitment to the most vulnerable members of hiscommunity has changed countless lives," Governor Bush said."Hisselflessness and dedication allows him to lead by example.He serves as awonderful role model for his community." As president of the Center for Independent Living of South Florida,Roberts has encouraged the staff to initiate many new projects andservices.The Centers purpose is to assist individuals with disabilitiesand promote systems that erase societal barriers for handicapped people.As a mentor and role model for the 500 Role Models of Excellence Project,he reached out to inner city youth, helping young people obtainscholarships and giving presentations to hundreds of students on thebenefits of being a positive citizen. As a volunteer for Big Brothers/Big Sisters of Greater Miami,Roberts is the only Big Brother in the history of the organization to havebeen paired to more than two Little Brothers simultaneously.For severalyears, he was matched with four Little Brothers with whom he raised fundsfor educational purposes and gave presentations to increase the number ofvolunteer mentors.(more) POINTS OF LIGHTPage Two Roberts has also been active in helping fellow veterans by serving as achaplain in the Miami Veterans Administration Medical Center.While therehe tends to spiritualneeds within the organization and the broader community by feeding andclothing thehomeless, ministering to those with lifethreatening illnesses andorganizing the funeral rites for veterans whose families cannot afford thecost. In 1992, Roberts founded the Veterans of Foreign Wars Liberty Post 11055,which is dedicated to improving the lives of unemployed and isolatedveterans. He spends time with A.I.D.S. patients, feeds the hungry, andcomforts those who are still suffering from the emotional scars of war.He currently serves as the chief of staff and color /honor guardcommander. In addition, Roberts is a member of the Vietnam Veterans of America.He initiated and coordinated disaster relief efforts throughout the UnitedStates for many months following the devastation of Hurricane Andrew anddistributed supplies to hundreds of families in Homestead. He continues toserve as the organizations first vicepresident, chaplain and color/honorguard commander. "I feel honored to receive this award," Roberts said."I know withoutGod, I couldnt have done anything like this. There are so many peoplewith problems, and I have seen a great turnaround because of my work withthem and with children. Its a good feeling to know that I have been apart of doing something right. " The Governors Points of Light Award, sponsored by Royal CaribbeanInternational and Celebrity Cruises, recognizes a Florida resident ororganization that demonstrates exemplary service to the community.Intermedia Communications is a major contributor, supporting thecontinuation of volunteer recognition.Award recipients are announcedweekly. A panel of judges, comprised of leaders in the areas of volunteerism andservice, evaluate incoming nominations and make recommendations to theGovernor.The award is administered by the Florida Commission onCommunity Service, a governors commission that promotes volunteerism andservice in the state.'

2002-12Dec.txt/0524-129207
01+January+2003+Public+2.txt/0803-804
2000-11Nov.txt/0014-64259

In [511]:
with open("./athome1mu4x7/2000-11Nov.txt/0015-64260", 'r', encoding="latin1") as f:
    mail = {'subject':[], 'body':[]}
    lines = f.readlines()
    content = [re.sub(r'\t|>|-|_|\*|<|#|@|\'','',line.strip())+' ' for line in lines if line!='\n']
    head = [(i,line.strip()) for (i, line) in enumerate(content) if re.match(r'^Subject:|^Re:', line)!=None]
    for h in head:
        if 'Subject' in h[1]:
            mail['subject'] = h[1][8:].strip()
        elif 'Re' in h[1] and mail['subject']==[]:
            mail['subject'] = h[1][3:].strip()
        else: 
            pass
    text = ''
    body = text.join(content).strip()
    body = re.sub(r'\s{2}', '', body)
    mail['body'] = body

In [512]:
mail

{'subject': 'GOVERNOR BUSH PRESENTS POINTS OF LIGHT AWARD TO ALVIN ROBERTS',
 'body': 'From:Steele, Leslie leslie.steelemyflorida.com Sent:Thursday, November 30, 2000 2:18 PM Subject:GOVERNOR BUSH PRESENTS POINTS OF LIGHT AWARD TO ALVIN ROBERTSFOR IMMEDIATE RELEASE CONTACT: ELIZABETH HIRSTTHURSDAY, NOVEMBER 30, 2000(850) 4885394GOVERNOR BUSH PRESENTS POINTS OF LIGHT AWARD TO ALVIN ROBERTSPoints of Light Award Recognizes Exemplary Volunteers in FloridasCommunities TALLAHASSEEGovernor Jeb Bush today awarded Alvin Roberts of Miami the Governors Points of Light Award.The award recognizes exemplary volunteer service throughout the state.Roberts, a Vietnam combat veteran with a disability, has been a drivingforce in helping children, veterans and the disabled in his community.Heis a mentor for the 500 Role Models of Excellence Project and BigBrothers/Big Sisters of Greater Miami, president of the Center forIndependent Living of South Florida, and serves in several Veteransorganizations. "Alvins longterm commitment to the most vulnerable members of hiscommunity has changed countless lives," Governor Bush said."Hisselflessness and dedication allows him to lead by example.He serves as awonderful role model for his community." As president of the Center for Independent Living of South Florida,Roberts has encouraged the staff to initiate many new projects andservices.The Centers purpose is to assist individuals with disabilitiesand promote systems that erase societal barriers for handicapped people.As a mentor and role model for the 500 Role Models of Excellence Project,he reached out to inner city youth, helping young people obtainscholarships and giving presentations to hundreds of students on thebenefits of being a positive citizen. As a volunteer for Big Brothers/Big Sisters of Greater Miami,Roberts is the only Big Brother in the history of the organization to havebeen paired to more than two Little Brothers simultaneously.For severalyears, he was matched with four Little Brothers with whom he raised fundsfor educational purposes and gave presentations to increase the number ofvolunteer mentors.(more) POINTS OF LIGHTPage Two Roberts has also been active in helping fellow veterans by serving as achaplain in the Miami Veterans Administration Medical Center.While therehe tends to spiritualneeds within the organization and the broader community by feeding andclothing thehomeless, ministering to those with lifethreatening illnesses andorganizing the funeral rites for veterans whose families cannot afford thecost. In 1992, Roberts founded the Veterans of Foreign Wars Liberty Post 11055,which is dedicated to improving the lives of unemployed and isolatedveterans. He spends time with A.I.D.S. patients, feeds the hungry, andcomforts those who are still suffering from the emotional scars of war.He currently serves as the chief of staff and color /honor guardcommander. In addition, Roberts is a member of the Vietnam Veterans of America.He initiated and coordinated disaster relief efforts throughout the UnitedStates for many months following the devastation of Hurricane Andrew anddistributed supplies to hundreds of families in Homestead. He continues toserve as the organizations first vicepresident, chaplain and color/honorguard commander. "I feel honored to receive this award," Roberts said."I know withoutGod, I couldnt have done anything like this. There are so many peoplewith problems, and I have seen a great turnaround because of my work withthem and with children. Its a good feeling to know that I have been apart of doing something right. " The Governors Points of Light Award, sponsored by Royal CaribbeanInternational and Celebrity Cruises, recognizes a Florida resident ororganization that demonstrates exemplary service to the community.Intermedia Communications is a major contributor, supporting thecontinuation of volunteer recognition.Award recipients are announcedweekly. A panel of judges, comprised of leaders in the areas of volunteerism andservice, evaluate incoming nominations and make recommendations to theGovernor.The award is administered by the Florida Commission onCommunity Service, a governors commission that promotes volunteerism andservice in the state.'}

In [529]:
df_clean = df_clean.drop('doc_id',axis=1)

In [551]:
df_clean

,md5,path,doc_id
0,6f8991ebdafffa7415b7b3b24fb949b5,./2002-12Dec.txt/0524-129207,129207
1,27850dfbfbb1bde5a3bf565aeb20dc33,./2002-12Dec.txt/0452-129135,129135
2,773a0cc30b4f736af16d7b64c4f1e1fe,./2002-12Dec.txt/0583-129266,129266
3,76ca7b889742f41da584c543d292c90c,./2002-12Dec.txt/0186-128869,128869
4,dd277b8dd158709548995d6b25d71ee7,./2002-12Dec.txt/0412-129095,129095
...,...,...,...
290094,a928348fcccf144387af03edf2e309c8,./200501-06JanJun-05May.txt/2523-224819,224819
290095,bc4b7e96a9bba0404b4bec0d16dba00e,./200501-06JanJun-05May.txt/1346-223642,223642
290096,867e066acb77c15f7f85f6fc88745eca,./200501-06JanJun-05May.txt/3965-226261,226261
290097,5b950d15830d8e6cd5eb370ad088d2e8,./200501-06JanJun-05May.txt/2286-224582,224582
290098,a0e7ef04b23d3d4314e770ad87a372d2,./200501-06JanJun-05May.txt/0957-223253,223253

In [531]:
df_clean['doc_id'] = df_clean['path'].apply(lambda x: x.split('-')[-1])

In [549]:
def id_format(x):
    if len(x)<6:
        x = "0" * (6-len(x)) + x
    return x

df_clean['doc_id'] = df_clean['doc_id'].apply(id_format)

In [560]:
min(df_clean['doc_id'].str.len())

6

In [573]:
df_clean

,md5,path,doc_id,raw
0,6f8991ebdafffa7415b7b3b24fb949b5,./2002-12Dec.txt/0524-129207,129207,FW: Citizens Days and Their Importance/Success...
1,27850dfbfbb1bde5a3bf565aeb20dc33,./2002-12Dec.txt/0452-129135,129135,"re: mary matalin From:Jeb Bush Sent:Saturday, ..."
2,773a0cc30b4f736af16d7b64c4f1e1fe,./2002-12Dec.txt/0583-129266,129266,"RE: Hello Gov From:Muniz, Katie Katie.MunizMyF..."
3,76ca7b889742f41da584c543d292c90c,./2002-12Dec.txt/0186-128869,128869,"RE: Meeting with the Governor From:Dana, Pam p..."
4,dd277b8dd158709548995d6b25d71ee7,./2002-12Dec.txt/0412-129095,129095,Status of Inquiry Into Corrupt Practices in Ba...
...,...,...,...,...
290094,a928348fcccf144387af03edf2e309c8,./200501-06JanJun-05May.txt/2523-224819,224819,Fw: CARD funding for Autism From:JEANNE KURANI...
290095,bc4b7e96a9bba0404b4bec0d16dba00e,./200501-06JanJun-05May.txt/1346-223642,223642,"Gaetz article From:Gilley, Janice Janice.Gille..."
290096,867e066acb77c15f7f85f6fc88745eca,./200501-06JanJun-05May.txt/3965-226261,226261,"From:Levesque, Patricia Patricia.LevesqueMyFl..."
290097,5b950d15830d8e6cd5eb370ad088d2e8,./200501-06JanJun-05May.txt/2286-224582,224582,Early Learning Coalition of Broward From:Jeb B...
290098,a0e7ef04b23d3d4314e770ad87a372d2,./200501-06JanJun-05May.txt/0957-223253,223253,Breanna Deliseo Case from D10 (Broward County)...

In [572]:
df_clean['raw'] = df_clean['path'].apply(get_raw)

In [575]:
%cd ../

/Users/Code/goldilocks_reproduce/jeb_bush

In [576]:
df_clean.to_csv("./raw_text_org.csv") #changed +org

In [577]:
df_clean.to_pickle("./raw_text_org.pkl")

In [582]:
df_clean = df_clean.drop(['md5','path'],axis=1)

In [583]:
df_clean

        doc_id                                                raw
0       129207  FW: Citizens Days and Their Importance/Success...
1       129135  re: mary matalin From:Jeb Bush Sent:Saturday, ...
2       129266  RE: Hello Gov From:Muniz, Katie Katie.MunizMyF...
3       128869  RE: Meeting with the Governor From:Dana, Pam p...
4       129095  Status of Inquiry Into Corrupt Practices in Ba...
...        ...                                                ...
290094  224819  Fw: CARD funding for Autism From:JEANNE KURANI...
290095  223642  Gaetz article From:Gilley, Janice Janice.Gille...
290096  226261   From:Levesque, Patricia Patricia.LevesqueMyFl...
290097  224582  Early Learning Coalition of Broward From:Jeb B...
290098  223253  Breanna Deliseo Case from D10 (Broward County)...

[274124 rows x 2 columns]

In [63]:
lb = pd.read_table("./rels/rel.judgments_athome100", sep='\s+',header=0)

In [64]:
lb

            docid
0     0000-112202
1     0000-132852
2      0000-25077
3      0002-51565
4     0003-126161
...           ...
4537  8582-251914
4538  8708-252040
4539  8743-252075
4540  8744-252076
4541  9013-252345

[4542 rows x 1 columns]

In [772]:
jb_rel_dict = {}

def athome1_rel_load(dataset:str):
    """ athome dataset from 100 to 109. """
    
    path = f"./rels/rel.judgments_athome{dataset}"
    with open(path, 'r')as f:
        lines = f.readlines()[1:]
        doc_id_list = []
        for line in lines:
            doc_id = line.split('-')[1].strip('\n')
            if len(doc_id) < 6:
                doc_id = "0" * (6-len(doc_id)) + doc_id
            if doc_id not in clean_docs: # replace duplicate
                for k in dul_map.keys():
                    if doc_id in dul_map[k]:
                        doc_id = k
                    else:
                        continue
            doc_id_list.append(doc_id)
        jb_rel_dict[dataset] = doc_id_list
    return

In [771]:
len(dul_map.keys())

10658

In [ ]:
# cleaned athome1 rel
for i in range(100,110):
    athome1_rel_load(str(i))

In [204]:
len(jb_rel_dict['100'])

4542

In [205]:
'000009' in jb_rel_dict['101']

True

In [858]:
t_set = test()

In [852]:
athome4 = athome4_rel_load()

In [860]:
len(t_set['401'])

898

In [853]:
len(athome4['401'])

816

#### .DS_Store

In [114]:
len(df.path.to_list())

290100

In [127]:
doc_ids = set(df['path'].str.split('-').str[-1])

In [133]:
doc_id_list = []

for x in doc_ids:
    if len(x)<6:
        x = "0" * (6-len(x)) + x
    doc_id_list.append(x)

In [134]:
len(doc_id_list)

290100

In [138]:
name = pd.read_table("./athome1.txt", sep='\s+',header=None, names=['doc_id'])

In [151]:
set(df['path'].str.split('/').str[-1]).difference(set(name['doc_id']))

{'.DS_Store'}

### all doc_ids

In [209]:
len(df.path.to_list())

290099

In [210]:
doc_ids = set(df['path'].str.split('-').str[-1])

In [211]:
doc_id_list = []

for x in doc_ids:
    if len(x)<6:
        x = "0" * (6-len(x)) + x
    doc_id_list.append(x)

In [212]:
len(doc_id_list)

290099

In [642]:
at4_df = pd.read_table("./athome4.facetsandqrels", sep='\s+',header=None, names=['dataset', 'doc_id', 'rel', 'sub'], dtype=str)

In [643]:
at4_df

      dataset  doc_id rel  sub
0         401  000370   0  383
1         401  000379   0  383
2         401  000559   0  383
3         401  001831   0  383
4         401  007305   0  383
...       ...     ...  ..  ...
61980     409  286273   1  382
61981     409  286284   1  382
61982     409  286285   1  382
61983     409  286617   2  382
61984     409  289754   1  382

[61985 rows x 4 columns]

In [645]:
at4_df[at4_df['doc_id'].duplicated()==True]

      dataset  doc_id rel  sub
780       402  037473   0  383
781       402  037485   0  383
821       402  050801   0  383
825       402  051578   0  383
1702      403  023802   0  383
...       ...     ...  ..  ...
61966     409  260123   1  382
61968     409  261876   1  382
61971     409  269835   1  382
61972     409  271118   1  382
61981     409  286284   1  382

[6250 rows x 4 columns]

In [646]:
at4_df[at4_df['doc_id']=='037473']

    dataset  doc_id rel  sub
100     401  037473   0  383
780     402  037473   0  383

In [651]:
at4_df[at4_df['dataset']=='401'].index

Int64Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,
                9,
            ...
            52127, 52128, 52129, 52130, 52131, 52132, 52133, 52134, 52135,
            52136],
           dtype='int64', length=898)

In [224]:
len(set(at4_df['doc_id']))

55735

In [192]:
len(athome4)

34

In [230]:
len(set(doc_id_list))

290099

In [231]:
len(set(at4_df['doc_id']))

55735

In [228]:
set(at4_df['doc_id']) in set(doc_id_list)

False

In [233]:
set(at4_df['doc_id']).difference(set(doc_id_list))

set()

In [720]:
'052266' in set(doc_id_list) # need a map to de-duplicated

True

In [765]:
len(dul_map.values())

10658

In [770]:
set(list(dul_map.keys())).issubset(set(df_clean['doc_id']))

True

In [721]:
len(doc_id_list)

290099

In [235]:
set(at4_df['doc_id']).issubset(set(doc_id_list))

True

In [640]:
at4_df

      dataset  doc_id rel  sub
0         401  000370   0  383
1         401  000379   0  383
2         401  000559   0  383
3         401  001831   0  383
4         401  007305   0  383
...       ...     ...  ..  ...
61980     409  286273   1  382
61981     409  286284   1  382
61982     409  286285   1  382
61983     409  286617   2  382
61984     409  289754   1  382

[61985 rows x 4 columns]

In [590]:
df_clean

        doc_id                                                raw
0       129207  FW: Citizens Days and Their Importance/Success...
1       129135  re: mary matalin From:Jeb Bush Sent:Saturday, ...
2       129266  RE: Hello Gov From:Muniz, Katie Katie.MunizMyF...
3       128869  RE: Meeting with the Governor From:Dana, Pam p...
4       129095  Status of Inquiry Into Corrupt Practices in Ba...
...        ...                                                ...
290094  224819  Fw: CARD funding for Autism From:JEANNE KURANI...
290095  223642  Gaetz article From:Gilley, Janice Janice.Gille...
290096  226261   From:Levesque, Patricia Patricia.LevesqueMyFl...
290097  224582  Early Learning Coalition of Broward From:Jeb B...
290098  223253  Breanna Deliseo Case from D10 (Broward County)...

[274124 rows x 2 columns]

In [596]:
jb_rel_dict.keys()

100
101
102
103
104
105
106
107
108
109

In [637]:
for k in jb_rel_dict.keys():
    print(k, len(jb_rel_dict[k]))
    if '129207' in jb_rel_dict[k]:
        print(True)

100 4542
101 5836
102 1624
103 5725
104 227
105 3635
106 17135
107 2375
108 2375
109 506

In [616]:
values = []
for i in jb_rel_dict.values():
    for j in i:
        values.append(j)

In [619]:
# 1 doc to >1 topics

len(set(values))

43001

In [617]:
len(values)

43980

In [628]:
df_info = df_clean.copy()

In [778]:
df_dedul = df_clean.copy()

In [779]:
# final jb_rel
for row in tqdm(df_dedul.itertuples()):
    for topic in jb_rel_dict.keys():
        if row.doc_id in jb_rel_dict[topic]:
            df_dedul.loc[row.Index, topic] = True
        else:
            df_dedul.loc[row.Index, topic] = False

274124it [03:18, 1378.87it/s]

In [632]:
df_info

,doc_id,raw,100,101,102,103,104,105,106,107,108,109
0,129207,FW: Citizens Days and Their Importance/Success...,False,False,False,False,False,False,False,False,False,False
1,129135,"re: mary matalin From:Jeb Bush Sent:Saturday, ...",False,False,False,False,False,False,False,False,False,False
2,129266,"RE: Hello Gov From:Muniz, Katie Katie.MunizMyF...",False,False,False,False,False,False,False,False,False,False
3,128869,"RE: Meeting with the Governor From:Dana, Pam p...",False,False,False,False,False,False,False,False,False,False
4,129095,Status of Inquiry Into Corrupt Practices in Ba...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
290094,224819,Fw: CARD funding for Autism From:JEANNE KURANI...,False,False,False,False,False,False,False,False,False,False
290095,223642,"Gaetz article From:Gilley, Janice Janice.Gille...",True,False,False,False,False,False,False,False,False,False
290096,226261,"From:Levesque, Patricia Patricia.LevesqueMyFl...",False,False,False,False,False,False,False,False,False,False
290097,224582,Early Learning Coalition of Broward From:Jeb B...,False,False,False,False,False,False,False,False,False,False
290098,223253,Breanna Deliseo Case from D10 (Broward County)...,False,False,False,False,False,False,False,False,False,False

In [660]:
rel_info = df_info.copy()

In [687]:
for row in tqdm(df_info.itertuples()):
    for topic in athome4.keys():
        if row.doc_id in athome4[topic].keys():
            if athome4[topic][row.doc_id] == "0":
                df_info.loc[row.Index, topic] = False # 0 > F
            else:
                df_info.loc[row.Index, topic] = True # 1,2 > T
        else:
            df_info.loc[row.Index, topic] = False
        #print(row.Index, row.doc_id)

274124it [03:39, 1247.98it/s]

In [884]:
df_dedul = df_dedul.drop(['410', '411', '412', '413', '414', '415', '416', '417',
       '418', '424', '425', '426', '427', '428', '434'],axis=1)

In [885]:
df_dedul

,doc_id,raw,100,101,102,103,104,105,106,107,108,109
0,129207,FW: Citizens Days and Their Importance/Success...,False,False,False,False,False,False,False,False,False,False
1,129135,"re: mary matalin From:Jeb Bush Sent:Saturday, ...",False,False,False,False,False,False,False,False,False,False
2,129266,"RE: Hello Gov From:Muniz, Katie Katie.MunizMyF...",False,False,False,False,False,False,False,False,False,False
3,128869,"RE: Meeting with the Governor From:Dana, Pam p...",False,False,False,False,False,False,False,False,False,False
4,129095,Status of Inquiry Into Corrupt Practices in Ba...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
290094,224819,Fw: CARD funding for Autism From:JEANNE KURANI...,False,False,False,False,False,False,False,False,False,False
290095,223642,"Gaetz article From:Gilley, Janice Janice.Gille...",True,False,False,False,False,False,False,False,False,False
290096,226261,"From:Levesque, Patricia Patricia.LevesqueMyFl...",False,False,False,False,False,False,False,False,False,False
290097,224582,Early Learning Coalition of Broward From:Jeb B...,False,False,False,False,False,False,False,False,False,False
290098,223253,Breanna Deliseo Case from D10 (Broward County)...,False,False,False,False,False,False,False,False,False,False

In [886]:
for row in tqdm(df_dedul.itertuples()):
    for topic in athome4.keys():
        if row.doc_id in athome4[topic].keys():
            if athome4[topic][row.doc_id] == "0":
                df_dedul.loc[row.Index, topic] = False # 0 > F
            else:
                df_dedul.loc[row.Index, topic] = True # 1,2 > T
        else:
            df_dedul.loc[row.Index, topic] = False
        #print(row.Index, row.doc_id)

274124it [03:42, 1229.98it/s]

In [944]:
df_dedul = df_dedul.reset_index(drop=True)

In [945]:
df_dedul

,doc_id,raw,100,101,102,103,104,105,106,107,...,425,426,427,428,429,430,431,432,433,434
0,129207,FW: Citizens Days and Their Importance/Success...,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,129135,"re: mary matalin From:Jeb Bush Sent:Saturday, ...",False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,129266,"RE: Hello Gov From:Muniz, Katie Katie.MunizMyF...",False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,128869,"RE: Meeting with the Governor From:Dana, Pam p...",False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,129095,Status of Inquiry Into Corrupt Practices in Ba...,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274119,224819,Fw: CARD funding for Autism From:JEANNE KURANI...,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
274120,223642,"Gaetz article From:Gilley, Janice Janice.Gille...",True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
274121,226261,"From:Levesque, Patricia Patricia.LevesqueMyFl...",False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
274122,224582,Early Learning Coalition of Broward From:Jeb B...,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
274123,223253,Breanna Deliseo Case from D10 (Broward County)...,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [946]:
df_dedul.to_csv("./jb.csv")

In [947]:
down_sampled_df = df_dedul.sample(frac=0.5,random_state=123,axis=0)

In [960]:
down_sampled_df.reset_index(drop=True,inplace=True)

In [961]:
down_sampled_df

,doc_id,raw,100,101,102,103,104,105,106,107,...,425,426,427,428,429,430,431,432,433,434
0,266204,The 8th Annual Family Cafe Conference host sit...,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,096709,SGAspecial Tourism Committee From:Jeb Bush jeb...,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,161569,NYTimes.com Article: OpEd Columnist: Hide and ...,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,161492,"Weekly briefing From:Young, Jennie(DMS) Jennie...",False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,144880,Florida Board of Medicine From:Jeb Bush Sent:S...,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137057,121551,"UK From:Dana, Pam pam.danamyflorida.com Sent:T...",False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
137058,023424,Money Saving Tips From:Jeb Bush jebjeb.org Sen...,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
137059,278934,Alenia/Giuseppe Giordo From:Jeb Bush Sent:Satu...,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
137060,264753,"Hurricane prepareness From:Kennedy, Art wimpma...",False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
137061,103386,I have a question? From:Nora Hall hall.norawor...,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [962]:
down_sampled_df.to_csv("./down_sampled.csv")

In [949]:
raw_text = df_dedul[["doc_id","raw"]]

In [950]:
raw_text

        doc_id                                                raw
0       129207  FW: Citizens Days and Their Importance/Success...
1       129135  re: mary matalin From:Jeb Bush Sent:Saturday, ...
2       129266  RE: Hello Gov From:Muniz, Katie Katie.MunizMyF...
3       128869  RE: Meeting with the Governor From:Dana, Pam p...
4       129095  Status of Inquiry Into Corrupt Practices in Ba...
...        ...                                                ...
274119  224819  Fw: CARD funding for Autism From:JEANNE KURANI...
274120  223642  Gaetz article From:Gilley, Janice Janice.Gille...
274121  226261   From:Levesque, Patricia Patricia.LevesqueMyFl...
274122  224582  Early Learning Coalition of Broward From:Jeb B...
274123  223253  Breanna Deliseo Case from D10 (Broward County)...

[274124 rows x 2 columns]

#### generate `raw_text_cleaned.pkl`

In [951]:
raw_text.to_pickle("./raw_text_cleaned.pkl")

In [952]:
rel_info = df_dedul.drop(['raw'],axis=1)

In [953]:
rel_info

,doc_id,100,101,102,103,104,105,106,107,108,...,425,426,427,428,429,430,431,432,433,434
0,129207,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,129135,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,129266,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,128869,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,129095,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274119,224819,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
274120,223642,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
274121,226261,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
274122,224582,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
274123,223253,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

#### generate `rel_info.csv`, `rel_info.pkl`

In [954]:
rel_info.to_csv("./rel_info.csv")
rel_info.to_pickle("./rel_info.pkl")

In [955]:
df_dedul.sample(frac=0.5,random_state=123,axis=0).index

Int64Index([147184,  38689,  54090,  52002, 238930, 131559, 187967, 132287,
             64104, 211886,
            ...
            264225,  75938, 104952,  90292, 232228, 109137,  82578, 225925,
            148266, 183218],
           dtype='int64', length=137062)

In [956]:
down_index = list(df_dedul.sample(frac=0.5,random_state=123,axis=0).index)

In [957]:
df_dedul.index

RangeIndex(start=0, stop=274124, step=1)

In [958]:
df_dedul.iloc[down_index]

,doc_id,raw,100,101,102,103,104,105,106,107,...,425,426,427,428,429,430,431,432,433,434
147184,266204,The 8th Annual Family Cafe Conference host sit...,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
38689,096709,SGAspecial Tourism Committee From:Jeb Bush jeb...,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
54090,161569,NYTimes.com Article: OpEd Columnist: Hide and ...,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
52002,161492,"Weekly briefing From:Young, Jennie(DMS) Jennie...",False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
238930,144880,Florida Board of Medicine From:Jeb Bush Sent:S...,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109137,121551,"UK From:Dana, Pam pam.danamyflorida.com Sent:T...",False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
82578,023424,Money Saving Tips From:Jeb Bush jebjeb.org Sen...,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
225925,278934,Alenia/Giuseppe Giordo From:Jeb Bush Sent:Satu...,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
148266,264753,"Hurricane prepareness From:Kennedy, Art wimpma...",False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
183218,103386,I have a question? From:Nora Hall hall.norawor...,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

#### generate `sampled-for-bertal.pkl`

In [959]:
dump_file = open("./sampled-for-bertal.pkl", "wb")
pickle.dump(down_index, dump_file)
dump_file.close